.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    width: 95vw;
    height: 100vh;
}

.header-title {
    margin: auto 0;
    padding: 0 20px 0 10px;
}

.header {
    width: 100%;
    margin-top: 1em;
    font-size: 1.4em;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'pape', 'Montserrat', sans-serif;
    flex-shrink: 1;
}

.header > a {
    border-radius: 2em;
    margin: auto 1em 1em 0;
    padding: 1em 2em;
    border: 1px solid white;
    cursor: pointer;
}
.header > a:hover {
    background-color: rgba(13, 13, 26, 0.9);
}

.inactive {
    background: rgba(13, 13, 26, 0.45);
}

.active {
    background: rgba(13, 13, 26, 0.9);
}

.content {
    flex-grow: 3;
    height: 80%;
}
.footer {
    font-family: 'pape', 'Montserrat', sans-serif;
    padding: 2em;
}