.anon-runner {
    margin: auto 0;
    padding: 0 1em;
    text-align: left;
}

.runner {
    margin: auto 0;
    text-align: left;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.time {
    margin: auto 0;
    padding: 0 1em;
    width: 100%;
    text-align: right;
}

.speedrun-column {
    flex: 1;
    /*margin: 0 1em 0 1em;*/
    max-width: 90vw;
}

.speedrun-column > h2 {
}

.table-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 750px;
}

.name-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lb-row:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.lb-row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.02);
}

.lb-row {
    height: 15px;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.lb-row:hover {
    background-color: rgba(13, 13, 26, 0.9);
}

.lb-row > td {
    height: inherit;
    font-weight: normal;
    padding: 1rem 0.5rem;
}

.lb-row > td:nth-child(1) {
    width: 0.5rem;
    padding: 0;
}

.lb-row > td:nth-child(2) {
    width: 10rem;
}

.lb-row > td:nth-child(3) {
    width: 11rem;
    /*text-align: left;*/
}

.lb-row > td:nth-child(4) {
    width: 5rem;
}

.runner-flag {
    height: 12px;
    margin-right: 4px;
    border-radius: 2px;
    box-shadow: 1px 1px rgba(0,0,0,.1);
}
